<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/newpoll.css" />
  </head>

  <body>
    <div class="container">
      <%- include('./includes/navigation.ejs') %>

      <section class="votings_container">
        <div class="voting_card">
          <h1>Create a new poll</h1>
          <form id="surveyForm" action="/newpoll/add-voting" method="POST" class="newpoll_form">
            <label for="surveyTitle">Question/label:</label>
            <input type="text" id="surveyTitle" name="surveyTitle" required />

            <label for="surveyDescription">Description:</label>
            <textarea
              id="surveyDescription"
              name="surveyDescription"
              rows="3"
            ></textarea>

            <div id="options">
              <div class="option">
                <label>Poll answer:</label>
                <div class="option-input">
                  <input type="text" name="options" required />
                  <button
                    type="button"
                    class="remove-option"
                    onclick="removeOption(this)"
                  >
                    ✖
                  </button>
                </div>
              </div>
              <div class="option">
                <label>Poll answer:</label>
                <div class="option-input">
                  <input type="text" name="options" required />
                  <button
                    type="button"
                    class="remove-option"
                    onclick="removeOption(this)"
                  >
                    ✖
                  </button>
                </div>
              </div>
            </div>

            <button type="button" class="green_button" onclick="addOption()">
              Add answer
            </button>
            <button type="submit" class="green_button create_poll_button">Create poll</button>
          </form>
        </div>
      </section>
    </div>
    <div class="alert hide" id="alert">
      <p class="alert_message" id="alert_msg"></p>
    </div>
    <script src="/scripts/main.js"></script>
    <script>

      function addOption() {
        var optionDiv = document.createElement("div");
        optionDiv.classList.add("option");
        optionDiv.innerHTML =
          '<label for="option">Poll answer:</label>' +
          '<div class="option-input">' +
          '<input type="text" name="options" required>' +
          '<button type="button" class="remove-option" onclick="removeOption(this)">✖</button>' +
          "</div>";
        document.getElementById("options").appendChild(optionDiv);
      }

      function removeOption(btn) {
        btn.parentNode.parentNode.remove();
      }

      document.getElementById("surveyForm").addEventListener("submit", handleFormSubmission);

  async function handleFormSubmission(event) {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);
    try {
      const response = await fetch("/newpoll/add-voting", {
        method: "POST",
        body: formData,
      });
      if (response.ok) {
        const result = await response.json();
      }else if (response.status === 401) {
        showMessage("Not authorized. Please log in")
        setTimeout(() => {
        window.location.href="/auth/login"
      }, 2000);
      }
       else {
        const errorMessage = await response.text();
        showMessage(errorMessage);
        return;
      }
    } catch (error) {
      showMessage(`Error: ${error}`);
    }
  }
    </script>
  </body>
</html>
