<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myVote</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/voting.css">
    <link rel="stylesheet" href="/styles/animations.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Prompt&display=swap">
</head>

<body>
    <div class="container">
        <header class="header">
            <h1><a href="/">my<span class="distinct">V</span>ote</a></h1>
            <div class="header__right">
                <a href=""><button class="green_button">Create vote</button></a>
                <p class="username">username</p>
            </div>
        </header>

        <section class="votings_container">
            <div class="voting_container">
                <div class="voting_header">
                    <p class="voting_number">No. 00876</p>
                    <h2 class="voting_title">Bidon or Tremp???</h2>
                    <p class="voting_creator">Author: Petro Poroshenko</p>
                </div>
                <div class="voting_body">
                    <p class="voting_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
                        similique culpa excepturi doloribus laborum aspernatur optio dolore quos facere architecto
                        praesentium ratione pariatur voluptate natus quia tempore, omnis molestiae ullam!</p>
                    <div class="poll_container">
                        <p class="option_text">
                            <input type="radio" name="vote" id="answer1">
                            <label for="answer1">Bidon</label>
                        </p>
                        <p class="option_text">
                            <input type="radio" name="vote" id="answer2">
                            <label for="answer2">Tremp</label>
                        </p>
                    </div>
                    <div class="vote_button_container">
                        <button class="green_button">Vote</button>
                    </div>
                </div>
            </div>
        </section>
    </div>


</body>

</html>